.home-page {
  margin-top: 60px;
}

.home-page .products-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/* Responsive grid */

@media (max-width: 2000px) {
  .home-page .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .home-page .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .home-page .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .home-page .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .home-page .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .home-page .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .home-page .products-grid {
    grid-template-columns: 1fr;
  }
}


/* Product container */

.home-page .product-container {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;

  border-right: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);

  display: flex;
  flex-direction: column;
}


/* Product image */

.home-page .product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  margin-bottom: 20px;
}

.home-page .product-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}


/* Product name */

.home-page .product-name {
  height: 40px;
  margin-bottom: 5px;
}


/* Rating */

.home-page .product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.home-page .product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.home-page .product-rating-count {
  color: rgb(25, 135, 84);
  cursor: auto;
  margin-top: 3px;
}


/* Price */

.home-page .product-price {
  font-weight: 700;
  margin-bottom: 10px;
}


/* Quantity */

.home-page .product-quantity-container {
  margin-bottom: 17px;
}


/* Spacer */

.home-page .product-spacer {
  flex: 1;
}


/* Added message */

.home-page .added-to-cart {
  color: rgb(25, 135, 84);
  font-size: 16px;

  display: flex;
  align-items: center;

  height: 19px;
  margin-bottom: 8px;

  /* Keep the space reserved but hide the message */
  opacity: 0;
  visibility: hidden;
}

.home-page .added-to-cart.show {
  opacity: 1;
  visibility: visible;
}

.home-page .added-to-cart img {
  height: 19px;
  margin-right: 6px;
}


/* Add to cart button */

.home-page .add-to-cart-button {
  width: 100%;
  padding: 8px;
  height: 34px;
  margin-top: 1px;
}